/* resolveu o problema de margem */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Fontes */
    .freeman-regular {
        font-family: "Freeman", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
    .poetsen-one-regular {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

/*Estilo Geral*/

.botaoContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #DF000B;
    border: 0;
    border-radius: 30px; /*arredonda a borda*/
    cursor: pointer; /*Quando passar por cima vira ponteiro igual links*/
    transition: .2s;
    color: white;
    
}

button:hover{
    box-shadow: #DF000B; /*Sombrinha no botão*/
    transform: scale(1.05);
}

.flex{
    display: flex;
}

body{
    background-color: white;
    min-height: 100vh; /*100vh ocupa o espaço todo da tela*/
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Pra mexer no cabeçalho */
header{
    padding: 40px 4%; /* 40 px pra cima, 4% pros lados*/
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #342323; /*Trocar a cor do link*/
    text-decoration: none; /*Tirando o sublinhado*/
    display: inline-block; /*Sem isso n funciona o hover*/
    transition: .2s; /*Suaviza a animação da transição*/
}

/*Quando passar o mouse por cima dos links*/
header a:hover{
    color:#DF000B;
    transform: scale(1.05); /*Faz dar zoom quando passa o mouse por cima*/

}


header nav ul{
    list-style-type: none; /*Tirar as bolinhas do link*/
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


header{
    border: 2px solid black;
}



#busDiv{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bus{
    position: relative;
}

.busStop{
    position: relative;
    bottom: 12px;
}


/*Estilo rodapé*/

footer{
    padding: 30px 2%;
    box-shadow: 0 0 40px 10px gray;
}

footer .flex{
    align-items: center;
    justify-content: space-between;
}

footer p i{
    color:#DF000B;
    font-size: 25px;
}

footer p a{
    color: #342323;
    text-decoration: none;
    font-size: 15px;
    border-right: 2px solid gray;
    padding-right: 20px;
}

.linhaRodape1{
    margin-left: 2px solid gray;
}

.linhaRodape2{
    display: flex;
    justify-content: end;
    color:#342323;
    font-size: 14px;
}

footer .linhaRodape2 p{
    border-right: 2px solid gray;
    padding-right: 20px;
    font-style: italic;
}